:root {
  --title-color: #322153;
  --primary: #34cb79;
}

html {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f5;
}

a {
  text-decoration: none;
  color: black;
}

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: bold;
}